.home{
    margin: 0px;
 padding: 0px;
background-image: url('../../assets/backgroundClinic.jpg');
background-size: cover; /* Adjust the size as needed */
background-position: center center; /* Adjust the position as needed */
background-repeat: no-repeat;
height: 100vh; /* Set the height to fill the viewport */
}
